/*
Theme Name: Nino's Cucina Italiana Hotness
Description: Child theme for the hottest Italian Restaurant in the heart of Atlanta. Family owned and operated for generations on the border of Buckhead and Midtown Atlanta
Author: OBX Media
Author URI: http://www.outerbanksmedia.com
Version: 1.0
Template: ninoscucina
*/

/*
-- Colors
-- Fonts
-- Modify Template
-- Custom Positioning
----  */

/*--  Colors
RED    -    color:#b21a20
Gray   -    color:#454a53
Tan    -    color:#e6dec9
----  */

/*-- Fonts
EB Garamond	-	font-family: 'EB Garamond', serif;
---- */
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

/*-- Modify Template ---- */
html, body {
	font-family: 'EB Garamond', serif;
}
h1, h2, h3, h4 {
	font-family: 'EB Garamond', serif;
}
.home .hero-image {
	min-height: 700px;
}
.site-header.transparent {
    background-color: rgba(0,0,0,0.75);
}
.site-header.transparent .header-nav .tb-primary-menu > li > .menu-btn,
.header-nav .tb-primary-menu > li > .menu-btn {
	color: #d3b379;
	color: rgba(211, 179, 121, 1);
	font-size: 1.15em;
}
.site-header.transparent .header-nav .tb-primary-menu > li > .menu-btn:before,
.header-nav .tb-primary-menu > li > .menu-btn:before {
	background-color: #d3b379;
	background-color: rgba(211, 179, 121, 1);
}
.btn-navbar {
	background-color: #d3b379;
	background-color: rgba(211, 179, 121, 1);
}
.tb-headline h2 {
	color: #a02125;
	font-size: 2.2rem;
}
.element-headline p {
	color: #5d5d5d;
	font-size: 1.1em;
}
.btn-default {
	background-color: #fff;
	border: 1px solid #b79c67;
	color: #b79c67;
	font-size: 1.1em;
}
blockquote small {
	font-size: 1em;
}
blockquote p {
	font-size: 1.1em;
}
cite {
	font-style: normal;
	text-transform: uppercase;
	color: #e6dec9;
}
.site-footer {
	color:#454a53;
}
#bottom h3 {
	text-transform: uppercase;
	color:#b21a20;
	margin: 0 0 5px 0;
}


/* Custom Positioning */
.left-full {
	background-size: 68% 100% !important;
	background-position: left top !important;
}
.right-full {
	background-size: 32% 100% !important;
	background-position: right top !important;
}
.center-both {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.relative {
	position: relative;
}

@media (min-width: 480px) {
}
@media (min-width: 768px) {
}
@media (min-width: 993px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 480px) {
}
@media (min-width: 993px) and (max-width:1200px) {
}
@media (min-width: 768px) and (max-width:992px) {
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
}
